# Project 1

## Step 1: Load the data and perform basic operations.

##### 1. Load the data in using pandas.

In [1]:
import pandas as pd 
act = pd.read_csv('../data/act.csv')
sat = pd.read_csv('../data/sat.csv')

In [ ]:

import numpy

##### 2. Print the first ten rows of each dataframe.

In [5]:
act.head(10)

,Unnamed: 0,State,Participation,English,Math,Reading,Science,Composite
0,0,National,60%,20.3,20.7,21.4,21.0,21.0
1,1,Alabama,100%,18.9,18.4,19.7,19.4,19.2
2,2,Alaska,65%,18.7,19.8,20.4,19.9,19.8
3,3,Arizona,62%,18.6,19.8,20.1,19.8,19.7
4,4,Arkansas,100%,18.9,19.0,19.7,19.5,19.4
5,5,California,31%,22.5,22.7,23.1,22.2,22.8
6,6,Colorado,100%,20.1,20.3,21.2,20.9,20.8
7,7,Connecticut,31%,25.5,24.6,25.6,24.6,25.2
8,8,Delaware,18%,24.1,23.4,24.8,23.6,24.1
9,9,District of Columbia,32%,24.4,23.5,24.9,23.5,24.2

In [11]:
sat.head(1000)

,Unnamed: 0,State,Participation,Evidence-Based Reading and Writing,Math,Total
0,0,Alabama,5%,593,572,1165
1,1,Alaska,38%,547,533,1080
2,2,Arizona,30%,563,553,1116
3,3,Arkansas,3%,614,594,1208
4,4,California,53%,531,524,1055
5,5,Colorado,11%,606,595,1201
6,6,Connecticut,100%,530,512,1041
7,7,Delaware,100%,503,492,996
8,8,District of Columbia,100%,482,468,950
9,9,Florida,83%,520,497,1017
10,10,Georgia,61%,535,515,1050
11,11,Hawaii,55%,544,541,1085
12,12,Idaho,93%,513,493,1005
13,13,Illinois,9%,559,556,1115
14,14,Indiana,63%,542,532,1074
15,15,Iowa,2%,641,635,1275
16,16,Kansas,4%,632,628,1260
17,17,Kentucky,4%,631,616,1247
18,18,Louisiana,4%,611,586,1198
19,19,Maine,95%,513,499,1012
20,20,Maryland,69%,536,52,1060
21,21,Massachusetts,76%,555,551,1107
22,22,Michigan,100%,509,495,1005
23,23,Minnesota,3%,644,651,1295
24,24,Mississippi,2%,634,607,1242
25,25,Missouri,3%,640,631,1271
26,26,Montana,10%,605,591,1196
27,27,Nebraska,3%,629,625,1253
28,28,Nevada,26%,563,553,1116
29,29,New Hampshire,96%,532,520,1052
30,30,New Jersey,70%,530,526,1056
31,31,New Mexico,11%,577,561,1138
32,32,New York,67%,528,523,1052
33,33,North Carolina,49%,546,535,1081
34,34,North Dakota,2%,635,621,1256
35,35,Ohio,12%,578,570,1149
36,36,Oklahoma,7%,530,517,1047
37,37,Oregon,43%,560,548,1108
38,38,Pennsylvania,65%,540,531,1071
39,39,Rhode Island,71%,539,524,1062
40,40,South Carolina,50%,543,521,1064
41,41,South Dakota,3%,612,603,1216
42,42,Tennessee,5%,623,604,1228
43,43,Texas,62%,513,507,1020
44,44,Utah,3%,624,614,1238
45,45,Vermont,60%,562,551,1114
46,46,Virginia,65%,561,541,1102
47,47,Washington,64%,541,534,1075
48,48,West Virginia,14%,558,528,1086
49,49,Wisconsin,3%,642,649,1291
50,50,Wyoming,3%,626,604,1230

##### 3. Describe in words what each variable (column) is.

In [ ]:
#

##### 4. Does the data look complete? Are there any obvious issues with the observations?

##### 5. Print the types of each column.

In [8]:
act.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 8 columns):
Unnamed: 0       52 non-null int64
State            52 non-null object
Participation    52 non-null object
English          52 non-null float64
Math             52 non-null float64
Reading          52 non-null float64
Science          52 non-null float64
Composite        52 non-null float64
dtypes: float64(5), int64(1), object(2)
memory usage: 3.3+ KB

In [9]:
sat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 6 columns):
Unnamed: 0                            51 non-null int64
State                                 51 non-null object
Participation                         51 non-null object
Evidence-Based Reading and Writing    51 non-null int64
Math                                  51 non-null int64
Total                                 51 non-null int64
dtypes: int64(4), object(2)
memory usage: 2.5+ KB

##### 6. Do any types need to be reassigned? If so, go ahead and do it.

##### 7. Create a dictionary for each column mapping the State to its respective value for that column. (For example, you should have three SAT dictionaries.)

##### 8. Create one dictionary where each key is the column name, and each value is an iterable (a list or a Pandas Series) of all the values in that column.

##### 9. Merge the dataframes on the state column.

##### 10. Change the names of the columns so you can distinguish between the SAT columns and the ACT columns.

##### 11. Print the minimum and maximum of each numeric column in the data frame.

##### 12. Write a function using only list comprehensions, no loops, to compute standard deviation. Using this function, calculate the standard deviation of each numeric column in both data sets. Add these to a list called `sd`.

$$\sigma = \sqrt{\frac{1}{n}\sum_{i=1}^n(x_i - \mu)^2}$$

## Step 2: Manipulate the dataframe

##### 13. Turn the list `sd` into a new observation in your dataset.

##### 14. Sort the dataframe by the values in a numeric column (e.g. observations descending by SAT participation rate)

##### 15. Use a boolean filter to display only observations with a score above a certain threshold (e.g. only states with a participation rate above 50%)

## Step 3: Visualize the data

##### 16. Using MatPlotLib and PyPlot, plot the distribution of the Rate columns for both SAT and ACT using histograms. (You should have two histograms. You might find [this link](https://matplotlib.org/users/pyplot_tutorial.html#working-with-multiple-figures-and-axes) helpful in organizing one plot above the other.)

##### 17. Plot the Math(s) distributions from both data sets.

##### 18. Plot the Verbal distributions from both data sets.

##### 19. When we make assumptions about how data are distributed, what is the most common assumption?

##### 20. Does this assumption hold true for any of our columns? Which?

##### 21. Plot some scatterplots examining relationships between all variables.

##### 22. Are there any interesting relationships to note?

##### 23. Create box plots for each variable.

##### BONUS: Using Tableau, create a heat map for each variable using a map of the US.

## Step 4: Descriptive and Inferential Statistics

##### 24. Summarize each distribution. As data scientists, be sure to back up these summaries with statistics. (Hint: What are the three things we care about when describing distributions?)

##### 25. Summarize each relationship. Be sure to back up these summaries with statistics.

##### 26. Execute a hypothesis test comparing the SAT and ACT participation rates. Use $\alpha = 0.05$. Be sure to interpret your results.

##### 27. Generate and interpret 95% confidence intervals for SAT and ACT participation rates.

##### 28. Given your answer to 26, was your answer to 27 surprising? Why?

##### 29. Is it appropriate to generate correlation between SAT and ACT math scores? Why?

##### 30. Suppose we only seek to understand the relationship between SAT and ACT data in 2017. Does it make sense to conduct statistical inference given the data we have? Why?